!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %title Curricle
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js", :rel => "javascript"}/
    :css
      #app {
        display: flex;
        flex-flow: column;
        height: 100vh;
      }

  %body
    .container
      #app

    - if current_user.present?
      :javascript
        localStorage.setItem('curricle_api_token', '#{current_user.api_token}')
        localStorage.setItem('curricle_schedule_token', '#{current_user.schedule_token}')

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
