.search-nav {
  padding: 20px;
  background-color: $color-light-gray;

  h3 {
    margin-top: 0px;
  }

  .term-select-wrapper {
    .ms-options-wrap {
      button {
        background-color: $color-medium-gray;
        color: white;
      }
    }
  }

  button {
    width: 100%;
    margin: 10px 0;
    text-align: left;
    cursor: pointer; cursor: hand;
    border: 1px solid $color-gray;

    &:hover {
      outline: none;
      border: 1px solid $color-green;
      box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.15);
    }
  }

  .box {
    position: relative;

    margin-top: 10px;
    input[type="text"] {
      width: 100%;
    }

    .weight-wrapper {
      margin: 7px 0 0 5px;
    }

    &:first-of-type {
      .remove {
        display: none;
      }
    }
    .remove {
      position: absolute;
      top: 0px;
      right: 5px;
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .schedule-wrapper, .unit-wrapper, .course-type {
    margin: 15px 0;
    table {
      width : 100%;
    }

    select {
      width: 100%;
    }
  }

  .schedule-wrapper {
    .ms-options-wrap {
      width: 85px;
    }
  }

  input[type="submit"] {
    cursor: pointer;
  }

  .search-form {
    input[type="submit"] {
      margin: 20px 0px;
      background: $color-green;
      color: white;
      border: none;
      padding: 8px 15px 9px;
      font-size: 16px;
    }
  }

  .reset-form {
    .reset-link {
      color: $color-medium-gray;
      font-size: 14px;
    }
  }
}
