.path-main {
  margin-top: 20px;
  .toggles {
    button {
      margin-left: 10px;

      &.active {
        font-weight: bold;
        color: red;
      }
    }
  }

  .grid-wrapper {
     @include span-columns(7 of 10);

     &.hidden {
       display: none !important;
     }
  }

  .grid-wrapper.semester {
    ul {
      vertical-align: top;
      width: 16.6%;
      text-align: center;
      position: relative;
      padding: 20px, 10px;

      &.times {
        li {
          line-height: 60px;
          opacity: 0.2;
        }
      }
    }

    li {
      vertical-align: top;
      display: block;
      width: 100%;
      border-bottom: 1px dashed lightgray;
      height: 60px;

      &:first-of-type {
        line-height: 60px;
      }

      .class {
        display: table;
        width: 100%;
        position: absolute;
        background: #539db7;
        color: white;

        .recommended {
          background: #83b971;
        }

        .title {
          display: table-cell;
          vertical-align: middle;
          text-align: center;

          .add-remove {
            position: absolute;
            top: 2px;
            right: 5px;
            line-height: 12px;
            margin-bottom: 10px;
            font-size: 12px;
          }
          .course {
            text-align: left;
            padding-left: 10px;
            
          }
        }
      }
    }
  }

  .grid-wrapper.career {
    .col {
      @include span-columns(1 of 4);
    }

    ul {
      @include span-columns(1 of 2);
      vertical-align: top;

      li {
        text-align: center;
        margin: 10px 0px;

        &.class {
          height: 60px;
          line-height: 60px;
          width: 100%;
          background: #d42529;
          color: white;
        }
      }
    }
  }

  .path-info-wrapper {
    @include span-columns(3 of 10);
    .course-path-wrapper {
      margin-bottom: 20px;
      padding: 10px 20px;
      border: 1px solid gray;
      position: relative;

      .title {
        font-weight: bold;
        margin-top: 20px;
        text-align: left;
      }

      .subject {
        margin-right: 7px;
      }

      &.green {
        border: 1px solid #83b971;
        color: #83b971;

        &.solid {
          color: white;
          background: #83b971;
        }
      }
      &.blue {
        border: 1px solid #539db7;
        color: #539db7;

        &.solid {
          color: white;
          background: #539db7;
        }
      }
    }
  }


}
