.path-main {
  margin-top: 20px;
  ul.toggles {
    li {
      font-size: 16px;
      margin-right: 10px;
      color: $color-medium-gray;
      font-weight: lighter;
    }

    .label-switch {
      $action-color: $color-medium-gray !default;
      $base-background-color: $color-medium-gray !default;
      $switch-width: 45px;
      $switch-padding: 1px;
      $switch-height: 26px;
      $switch-radius: $switch-height;
      $knob-size: $switch-height - ($switch-padding * 2);
      $knob-radius: $switch-height - ($switch-padding * 2);
      $knob-width: $knob-size;
      $switch-background: $color-medium-gray;
      $switch-border-background: $base-background-color;
      $switch-shadow: 0 1px 5px transparentize(black, 0.6);

      border-radius: $switch-radius;
      cursor: pointer;
      display: inline-block;
      height: $switch-height;
      position: relative;
      width: $switch-width;
      padding-top: 6px;

      input[type="checkbox"] {
        display: none;

        + .checkbox {
          background: $switch-border-background;
          border: 0;
          border-radius: $switch-radius;
          cursor: pointer;
          height: $switch-height;
          margin: 0;
          padding: 0;
          position: relative;
          transition: all 0.3s ease;
          width: $switch-width;
          z-index: 0;

          &::before {
            @include position(absolute, 1px 0 0 1px);
            background: $switch-background;
            border-radius: $switch-radius;
            content: "";
            height: $knob-radius;
            transform: scale(1);
            transition: all 0.3s ease;
            width: $switch-width - ($switch-padding * 2);
            z-index: 1;
          }

          &::after {
            @include position(absolute, 1px 0 0 1px);
            @include size($knob-size);
            background: $color-white;
            border-radius: $knob-radius;
            box-shadow: $switch-shadow;
            content: "";
            transition: all 0.3s ease;
            z-index: 2;
          }
        }

        &:checked {
          + .checkbox {
            background: $action-color;

            &::before {
              transform: scale(0);
            }

            &::after {
              left: $switch-width - $knob-width - ($switch-padding);
            }
          }
        }
      }
    }

  }

  .grid-wrapper {
     @include span-columns(7 of 10);

     &.hidden {
       display: none !important;
     }

     .class-wrapper {
        display: none;
        background: $color-slate;
        color: white;
        box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.75);
        position: relative;

        .add-remove {
          input[type="submit"] {
            position: absolute;
            top: 1px;
            right: 1px;
            padding: 3px 4px;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 20px;
            line-height: 12px;

            &.left {
              left: 1px;
            }
          }
        }

        &.visible {
          &.in-path {
            display: block;
          }

          &.recommended {
            display: block;
            background: $color-green;
          }
        }
     }
  }

  .grid-wrapper.semester {
    ul {
      vertical-align: top;
      width: 16.6%;
      text-align: center;
      position: relative;
      padding: 20px, 10px;

      &.times {
        li {
          line-height: 60px;
          opacity: 0.2;
        }
      }
    }

    li {
      vertical-align: top;
      display: block;
      width: 100%;
      border-bottom: 1px dashed lightgray;
      height: 60px;

      >h4 {
        color: $color-medium-gray;
        margin-top: 0;
        line-height: 60px;
      }

      .class-wrapper {
        position: absolute;
        left: 4px;
        right: 4px;

        .title {
          text-align: center;
          padding: 22px 10px;
        }
      }
    }
  }

  .grid-wrapper.career {
    .col {
      @include span-columns(1 of 4);
    }

    ul {
      @include span-columns(1 of 2);
      vertical-align: top;
      width: 100%;

      li {    
        font-size: 16px;
        margin: 10px 5px;

        &:first-of-type {
         border-bottom: 1px dashed lightgray;
        }

        .class-wrapper {
          height: 60px;
          line-height: 60px;
          padding: 0px 10px;
          width: 100%;

          li {
            text-align: center;
          }
        }
      }
    }
  }

  .path-info-wrapper {
    @include span-columns(3 of 10);
    .course-path-wrapper {
      display: none;
      margin-bottom: 20px;
      padding: 10px 12px;
      border: 1px solid gray;
      position: relative;
      border: 1px solid $color-slate;
      color: $color-slate;

      &.visible {
        display: block;
      }

      .title {
        font-weight: bold;
        margin-top: 20px;
        text-align: left;
      }

      input[type="submit"] {
        cursor: pointer;
        margin-top: 10px;
        color: $color-slate;
        background: none;
        border: 1px solid $color-slate;
        border-radius: 3px;
      }

      &.in-path {
        color: white;
        background: $color-slate;

        input[type="submit"] {
          color: white;
          border: 1px solid white;
        }
      }

      &.recommended {
        border: 1px solid $color-green;
        color: $color-green;

        &.solid {
          color: white;
          background: $color-green;
        }

        input[type="submit"] {
          color: white;
          border: 1px solid white;
        }
      }
    }
  }
}
