.search-header {
  .filters {
    label {
      width: 175px;
      padding-right: 5px;
    }
  }
}

.search-main {
  .grid-wrapper {
    @include span-columns(5 of 10);

    ul.block-list {
      margin: 0;
      padding: 0;

      li.empty {
        list-style-type: none;
        padding-left: 10px;
      }
    }

    li.block {
      vertical-align: top;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 1px;
      background: $color-light-gray;

      &.matched {
        &.red {
          background: $color-red;
        }
        &.green {
          background: $color-green;
        }
        &.blue {
          background: $color-blue;
        }
      }

      &.added {
        background: $color-gray !important;
      }
    }

    .grid-section {
      padding: 14px 10px 35px 10px;
      border-bottom: 1px solid $color-gray;

      h4 {
        margin-bottom: 8px;
      }

      p{
        font-size: 14px;
      }
    }
  }

  .details-wrapper {
    @include span-columns(5 of 10);

    .course-wrapper {
      margin-bottom: 20px;
      padding: 10px 20px;
      border: 2px solid gray;
      position: relative;

      .tray-form-wrapper {
        position: absolute;
        top: 10px;
        right: 10px;

        button {
          display: inline-block;
          margin: 0px 2px;
          font-size: 16px;
          padding: 0px 2px 2px 2px;
        }

        input[type="submit"] {
          font-size: 20px;
          line-height: 15px;
          padding: 0px 4px 3px;
          background-color: white;
          border: 2px solid $color-green;
          border-radius: 3px;
          color: $color-green;
          cursor: hand; cursor: pointer;

          &:hover {
            outline: none;
            border: 2px solid $color-green;
            box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.15);

          }

        }
      }

      .units {
        position: absolute;
        bottom: 10px;
        right: 20px;
      }

      .title {
        font-weight: bold;
        margin-top: 20px;
      }

      &.green {
        border: 2px solid $color-green;

        &.solid {
          color: white;
          background: $color-green;
        }
      }
      &.blue {
        border: 2px solid $color-green;

        &.solid {
          color: white;
          background: $color-green;
        }
      }
    }
  }
}

.search-nav {
  padding: 20px;
  background-color: $color-light-gray;

  h3 {
    margin-top: 0px;
  }

  .term-select-wrapper {
    .ms-options-wrap {
      button {
        background-color: $color-medium-gray;
        color: white;
      }
    }
  }

  button {
    width: 100%;
    margin: 10px 0;
    text-align: left;
    cursor: pointer; cursor: hand;
    border: 1px solid $color-gray;

    &:hover {
      outline: none;
      border: 1px solid $color-green;
      box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.15);
    }
  }

  .box {
    margin-top: 10px;
    input[type="text"] {
      width: 100%;
    }
  }

  .schedule-wrapper, .unit-wrapper, .course-type {
    margin: 15px 0;
    table {
      width : 100%;
    }

    select {
      width: 100%;
    }
  }

  .schedule-wrapper {
    .ms-options-wrap {
      width: 85px;
    }
  }

  input[type="submit"] {
    cursor: pointer;
  }

  .search-form {
    input[type="submit"] {
      margin: 20px 0px;
      background: $color-green;
      color: white;
      border: none;
      padding: 8px 15px 9px;
      font-size: 16px;
    }
  }
}
