$em-base: 10;
$base-font-size: 15;

$color-black: #000;
$color-medium-gray: #696969;
$color-gray: #B4B5B7;
$color-light-gray: #f3f3f3;
$color-slate: #6e6f71;
$color-green: #5bb688;
$color-blue: #539db7;
$color-white: #fff;
$color-red: #d42529;
