@import "bourbon";
@import "grid-settings";
@import "neat";
@import "vars";
@import "nav";
@import "search";
@import "path";
@import "forms";


body {
  // TODO: find appropriate fonts
  font-family: sans-serif;
}

.app-wrapper {
  @include outer-container;

  .header {
    border-bottom: 1px solid $color-medium-gray;

    a.logo {
      text-decoration: none;
      color: black;
    }
  }

  .main {
    .left-content {
      height: auto;
      border-right: 1px solid $color-medium-gray;
    }

    .right-content {
      border-radius: 3px;
    }
  }

  .left-content {
    @include span-columns(3);
  }

  .right-content {
    @include span-columns(9);
    @include omega();
  }
}

// common stylized classes

.hidden {
  display: none;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.block {
  display: block;
}

.iblock {
  display: inline-block;
}

.inline {
  display: inline;
}

.align-c {
  text-align: center;
}

.border {
  border: 1px solid $color-gray;
  border-radius: 3px;
}

.padding {
  padding: 7px;
}

.italic {
  font-style: italic;
}

ul {
  &.plain {
    list-style-type: none;
    padding: 0;
  }

  &.horizontal {
    li {
      display: inline-block;
    }
  }
}

button {
  background-color: white;
  border: 1px solid $color-medium-gray;
  border-radius: 3px;
  height: 25px;
}
