@import "bourbon";
@import "grid-settings";
@import "neat";
@import "nav";
@import "search";
@import "path";

body {
  // TODO: find appropriate fonts
  font-family: sans-serif;
}

.app-wrapper {
  @include outer-container;

  .header {
    border-bottom: 1px solid #eee;
  }

  .main {
    .left-content {
      padding: 0px 0px 0px 5px;
    }

    .right-content {
      border-radius: 3px;
    }
  }

  .left-content {
    @include span-columns(2);
  }

  .right-content {
    @include span-columns(10);
    @include omega();
  }
}

// common stylized classes

.hidden {
  display: none;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.block {
  display: block;
}

.iblock {
  display: inline-block;
}

.inline {
  display: inline;
}

ul {
  &.plain {
    list-style-type: none;
    padding: 0;
  }

  &.horizontal {
    li {
      display: inline-block;
    }
  }
}
